
body {
        background-color: #f0fff0; /* light green background */
    }
.navbar {
        background-color: #28a745; /* Bootstrap green */
    }
.navbar .nav-link, .navbar-brand {
        color: white;
        font-weight: bold;
    }
.navbar .nav-link:hover {
        color: #d4ffd4;
    }
h1, h2 {
        text-align: center;
        color: #28a745;
        margin-top: 20px;
    }
.item{
        font-size: 30px;
        font-weight: 600;
    }
