{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link href="{% static 'css/update.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4 shadow" style="max-width: 400px; width:100%;">
        <h1 class="text-center mb-4">LOGIN</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success w-100 mt-3">Update</button>
        </form>
    </div>
</div>
{% endblock content %}